.image-container {
  width: 100%;
  max-width: 100%;
  background: #e8e9ec 0% 0% no-repeat padding-box;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
