.labelvalueWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 12px;
  // font: normal normal normal 11px/20px Lato;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  .valueClass {
    font-weight: bold;
  }
  .seperatorClassName {
    margin: 0px 5px;
  }
}
